{% extends 'main.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">

{% block content %}
    <h2>All Departments</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Initial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <td>{{ department.0 }}</td>
                    <td>{{ department.1 }}</td> 
                    <td>{{ department.2 }}</td>
                    <td>
                       <div class='link-btn'> <a href="{% url 'edit-department' department.0 %}">Edit</a> |
                        <a href="{% url 'delete-department' department.0 %}">Delete</a>
                    </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No departments found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class='link-btn center'>
        <a href="{% url 'create-department' %}">Create New Department</a>
    </div>
{% endblock %}