{% extends 'main.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/table.css' %}" />

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>

    <form method="GET" action="{% url 'all-students' %}">
        <label for="cgpa_min">Search</label>
        <input type="text" name="search" placeholder="Search by ID, First Name, or Last Name" value="{{ request.GET.search }}">
        
        <label for="cgpa_min">CGPA Min:</label>
        <input type="number" name="cgpa_min" step="0.01" value="{{ request.GET.cgpa_min }}">
        
        <label for="cgpa_max">CGPA Max:</label>
        <input type="number" name="cgpa_max" step="0.01" value="{{ request.GET.cgpa_max }}">
        
        <label for="credits_min">Credits Completed Min:</label>
        <input type="number" name="credits_min" value="{{ request.GET.credits_min }}">
        
        <label for="credits_max">Credits Completed Max:</label>
        <input type="number" name="credits_max" value="{{ request.GET.credits_max }}">
    

        <label for="department">Department:</label>
        <select name="department">
            <option value="">-- Select --</option>
            {% for department in departments %}
                <option value="{{ department.id }}" {% if request.GET.department == department.id %}selected{% endif %}>
                    {{ department.name }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>CGPA</th>
                <th>Credits Completed</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.0 }}</td>
                    <td>{{ student.1 }}</td>
                    <td>{{ student.2 }}</td>
                    <td>{{ student.3 }}</td>
                    <td>{{ student.4 }}</td>
                    {% if request.user.user_type == 1 %}
                    <td colspan="2">{{ student.6 }}</td>
                    {%else%}
                    <td>{{ student.6 }}</td>
                    {%endif%}
                        {% if request.user.user_type == 2 or request.user.user_type == 3 %}
                        <td class="action-container">
                            <div>
                                <a href="{% url 'edit_student' student.0 %}">Edit</a>
                            </div>
                            <div>
                                <a href="{% url 'delete_student' student.0 %}">Delete</a>
                            </div>
                            {%endif%}
                        </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No students found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock content %}