{% load static %} 
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
<link rel="stylesheet" href="{% static 'styles/main.css' %}">



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
</head>
<body>
    <h1>Are you sure you want to delete this course?</h1>
    <form method="POST" action="{% url 'delete_course' course_id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <div class="link-btn center">
          <a href="{% url 'all-courses' %}">Cancel</a>

    </div>
</body>
</html>