{% load static %} 
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
<link rel="stylesheet" href="{% static 'styles/main.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
</head>
<body>
    <h1>Edit Course</h1>

    <form method="POST" action="{% url 'edit_course' course.3 %}">
        {% csrf_token %}
        <div>
            <label for="course_code">Course Code:</label>
            <input type="text" name="course_code" id="course_code" value="{{ course.0 }}" required>
        </div>

        <div>
            <label for="course_name">Course Name:</label>
            <input type="text" name="course_name" id="course_name" value="{{ course.1 }}" required>
        </div>

        <div>
            <label for="department">Department:</label>
            <select name="department_id" id="department">
                {% for dept in departments %}
                    <option value="{{ dept.0 }}" {% if course.2 == dept.0 %}selected{% endif %}>{{ dept.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Update Course</button>
    </form>

    <div class="link-btn center">
        <a href="{% url 'all-courses' %}">Back to All Courses</a>
    </div>
    
</body>
</html>