{% extends 'main.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/table.css' %}" />
<link rel="stylesheet" href="{% static 'styles/forms.css' %}" />

{% block content %}

<form method="GET" action="{% url 'faculty_list' %}">
    <div>
        <label for="department">Filter by Department:</label>
        <select name="department" id="department">
            <option value="">All Departments</option>
            {% for department in departments %}
                <option value="{{ department.0 }}" {% if department.0 == selected_department %}selected{% endif %}>
                    {{ department.1 }}
                </option>
            {% endfor %}
        </select>

        <label for="search">Search Faculty:</label>
        <input type="text" name="search" id="search" value="{{ search_query }}" placeholder="Search by name or initial">
        
        <button type="submit">Filter</button>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Initial</th>
            {% if request.user.user_type == 1 %}
            <th colspan="2">Department</th>
            {% else %}
            <th>Department</th>
            {%endif%}
            {% if request.user.user_type == 2 or request.user.user_type == 3 %}
            <th>Actions</th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {% for faculty in faculty_list %}
        <tr>
            <td>{{ faculty.1 }}</td>
            <td>{{ faculty.2 }}</td>
            <td>{{ faculty.3 }}</td>
            <td>{{ faculty.4 }}</td>
            {% if request.user.user_type == 2 or request.user.user_type == 3 %}
            <td class="action-container">
                <div>
                    <a href="{% url 'edit_faculty' faculty.0 %}">Edit</a>
                </div>
                <div>
                    <a href="{% url 'delete_faculty' faculty.0 %}">Delete</a>
                </div>
                
            </td>
            {%endif%}
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No faculties found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}