{% extends 'advising-panel.html' %}


<div class="nav-bar">
    <a href = '{% url "all-courses" %}'>
        <h1> Course List </h1>
    </a>
    
    <a href = '{% url "create-course" %}'>
        <h1> Create Course </h1>
    </a>
    
    <a href = '{% url "create-section" %}'>
        <h1> Create Section </h1>
    </a> 
    
    <a href = '{% url "create-faculty" %}'>
        <h1> Create Faculty </h1>
    </a>
    
    <a href = '{% url "create-student" %}'>
        <h1> Create Student </h1>
    </a>
    
    <a href = '{% url "create-staff" %}'>
        <h1> Create Staff </h1>
    </a>
    
    <a href = '{% url "all-students" %}'>
        <h1> Student List </h1>
    </a>
</div>