form {
    width: 700px;           
    margin: 20px auto;          
    padding: 30px;             
    background-color: #fff;     
    border-radius: 10px;       
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif;
}

.advising-form{
    width: 100%;
}

label {
    display: inline-block;     
    margin-bottom: 8px;         
    font-size: 14px;           
    color: #333;                
    font-weight: bold;          
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], select {
    width: calc(100% - 22px);  
    padding: 10px;              
    margin-bottom: 20px;        
    border: 1px solid #ccc;     
    border-radius: 5px;        
    font-size: 16px;            
    box-sizing: border-box;     
    transition: border-color 0.3s ease; 
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus {
    border-color: #4CAF50;     
    outline: none;            
}

button {
    width: 100%;              
    padding: 12px;             
    background-color: #598bc4; 
    color: white;               
    font-size: 16px;            
    border: none;               
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #598bc4;  
}

.del-fac a{       
    padding: 12px;  
    text-decoration: none;                      
    background-color: #598bc4; 
    color: white;               
    font-size: 16px;            
    border: none;               
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

textarea {
    width: calc(100% - 22px);   
    padding: 10px;             
    margin-bottom: 20px;      
    border: 1px solid #ccc;    
    border-radius: 5px;         
    font-size: 16px;          
    box-sizing: border-box;    
    transition: border-color 0.3s ease; 
    min-height: 120px;         
    resize: vertical;          
}

textarea:focus {
    border-color: #4CAF50;      
    outline: none;             
}


.courses-form{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.courses-form a{
    text-decoration: none;
    width: 100%;              
    padding: 12px;             
    background-color: #598bc4; 
    color: white;               
    font-size: 16px;            
    border: none;               
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease;     
}

.link-btn a{
    text-decoration: none;       
    padding: 12px;             
    background-color: #598bc4; 
    color: white;               
    font-size: 16px;            
    border: none;               
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease;   
}

.center{
    text-align: center;
    margin-top: 20px;
}

.flex{
    display: flex;
    gap: 10px;
}