
table {
    width: 100%;              
    border-collapse: collapse; 
    margin: 20px 0;          
    font-family: 'Arial', sans-serif; 
    font-size: 16px;          
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); 

}


thead {
    background-color: #598bc4; 
    color: white;
}

.action-container{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.action-container a{              
    padding: 12px;  
    text-decoration: none;                      
    background-color: #598bc4; 
    color: white;               
    font-size: 16px;            
    border: none;               
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}


thead th {
    padding: 12px 15px;        
    text-align: left;          
    font-weight: bold;  
    font-size: 12px;          
    border-bottom: 2px solid #ddd;
}


tbody tr {
    border-bottom: 1px solid #ddd; 
    transition: background-color 0.3s ease; 
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}


tbody tr:hover {
    background-color: #f1f1f1; 
}


td {
    padding: 12px 15px;      
    text-align: left;          
    color: #333;               
}


table {
    border: 1px solid #ddd;    
    border-radius: 8px;      
    overflow: hidden;         
}






